/*
-------------------------------------------------------GENERAL----------------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-image: linear-gradient(rgba(62, 20, 20, 0.4), rgba(62, 20, 20, 0.4)), url(back_updated.jpg);
    background-size: cover;
    background-position: center;
    font-family: Verdana;
    font-weight: 300;
    position: relative;
    height: 100vh;
    color: #39CCCC;
}

.wrapper {
    width: 1000px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.player-0-panel,
.player-1-panel {
    width: 50%;
    float: left;
    height: 600px;
    padding: 100px;
}



/*
----------------------------------------------------PLAYERS---------------------------------------------------
*/

.player-name {
    font-family: 'Amita','Arial';
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
}

.player-score {
    font-family: 'Atomic Age','Arial';
    text-align: center;
    font-size: 80px;
    font-weight: 100;
    color: #EB4D4D;
    margin-bottom: 130px;
}

.active { background-color: #f7f7f7; }
.active .player-name { font-weight: 300; }

.active .player-name::after {
    content: "\2022";
    font-size: 47px;
    position: absolute;
    color: #EB4D4D;
    top: -7px;
    right: 10px;

}

.player-current-box {
    background-color: #39CCCC;
    color: #fff;
    width: 40%;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
}

.player-current-label {
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 12px;
    color: #222;
}

.player-current-score {
    font-family: 'Atomic Age','Arial';
    font-size: 30px;
}

button {
    position: absolute;
    width: 160px;
    left: 50%;
    transform: translateX(-50%);
    color: #555;
    background: #FFF;
    border: none;
    font-family: 'Atomic Age','Arial';
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 300;
    transition: background-color 0.3s, color 0.3s;
}

button:hover { font-weight: 600; }
button:hover {
  background-color: #4CAF50;
  color: white;
 }

button:focus {
    outline: none;
}

i {
    color: #EB4D4D;
    display: inline-block;
    margin-right: 15px;
    font-size: 32px;
    line-height: 1;
    vertical-align: text-top;
    margin-top: -4px;
    transition: margin 0.3s;
}

.btn-new {
   padding-top: 3px;
   top: 45px;
   background-color: white;
   color: black;
   border: 2px solid #4CAF50;
   border-radius: 8px;

 }
.btn-roll {
   top: 403px;
   padding-top: 3px;
   background-color: white;
   color: black;
   border: 2px solid #4CAF50;
   border-radius: 8px;
}
.btn-hold {
   top: 467px;
   padding-top: 0px;
   background-color: white;
   color: black;
   border: 2px solid #4CAF50;
   border-radius: 20%;
   width: 105px;
   vertical-align: middle;
}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 100px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.winner { background-color: #f7f7f7; }
.winner .player-name { font-weight: 300; color: #EB4D4D; }
